[submodule "third_party/nw-design-for-wsi"]
	path = third_party/nw-design-for-wsi
	url = https://github.com/HaoningJiang-space/nw-design-for-wsi.git
[submodule "third_party/chakra"]
	path = third_party/chakra
	url = https://github.com/HaoningJiang-space/chakra.git
[submodule "third_party/atlahs"]
	path = third_party/atlahs
	url = https://github.com/HaoningJiang-space/atlahs.git
[submodule "third_party/atlahs-20250324"]
	path = third_party/atlahs-20250324
	url = https://github.com/HaoningJiang-space/atlahs.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/HaoningJiang-space/json.git
[submodule "third_party/TransformerEngine"]
	path = third_party/TransformerEngine
	url = https://github.com/HaoningJiang-space/TransformerEngine.git
